@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    line-height: 1.6;
    scroll-behavior: smooth;

}

hero {
    text-align: center;
    padding: 80px 20px;

}

title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
}

img {
    display: block ;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;

}

img-caption {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

tribute-info {
    font-size: 1.8rem;
    font-weight: 500;
   

}


tribute-info p {
    font-size: 1.05rem;
    color: #333;
    text-align: center;

}

footer {
    text-align: center;
    margin: 60px 0;

}

tribute-link {
    text-decoration: none;
    font-weight: 500;
    color: #007aff;
    transition: 0.3;

}

tribute-link:hover {
    color: #0051b5;
}


section, footer {
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1s ease forwards;

}

section:nth-child(1) {animation-delay: 0.2s;}
section:nth-child(2) {animation-delay: 0.4s;}
footer { animation-delay: 0.6; }

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, figcaption {
    text-align: center;
}
