body {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxISEhUSEhMVFRIXGBUQFRUVFRUVFRUQFRIWFhUVFRUYHSggGBolHRUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQFysdHx0tLS0tLS0rLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLSstLS0tLS0tLSstLS0tK//AABEIALcBEwMBIgACEQEDEQH/xAAcAAABBAMBAAAAAAAAAAAAAAAEAgMFBgABBwj/xABDEAABAwIEAwYDBQUGBQUAAAABAAIDBBEFEiExBkFREyJhcZGhBzKBFCOxwdFCUnKy4RVDU2JzkjOCk6LwFhckJVT/xAAXAQEBAQEAAAAAAAAAAAAAAAAAAQID/8QAIhEBAQEAAgMBAAIDAQAAAAAAAAERAjESIUFRImGB4fAy/9oADAMBAAIRAxEAPwCGZwBUhri5oFmk6noLrnNl6txCP7mX+B38pXlXKpL7DtK1TXDmHGoqYoRpncBfoLXPsComkburf8N2XxGDwLj/ANhWh148CwZba3tb62RUfBdMBsfVWQEJWYJtTFUxDg6nLQMttQpBnC9PYDLspKrkb3dRuiQ4JtMQ44Zp/wBwKA404ShdTvczuua0vBHgL2I6K75h1UNxbM1tJMSQPu3/AMpU5crlMjhPAtE2aoYHftG/0XdYOGqcAdwei4t8NSBVRXNtCvQEcgtutbZ0WI3/ANO0/wDhj0SKjh+DJbIPRTGcdUzVTNDbkp5UyAocCgDR3G7dAnI8EhH9230CLhnbYahOdu3qE8qZAMuDQkEZG+gSafCIgLZB6I6SoaATceqbgqmEaOHqp5UyG/7Ki/cHotHCYf3G+iL7ZvULO2b1Hqm0RbMEgAIyD0T4wWC3/Db6BEwztN7EFPBwTaYjXYBTn+6b6Bcq+MWBRQmKSNuUuLmkDba4XZ8wXL/jY9vZwi+uc6c7ZSm1ccTjZdwB2JA+l16Yo+CqIMaOxbsOt153wvB553fdRlwB1ds0eZXo48RNjjaTFM7TUsjLg2w3J008lm7LqgqjhvDGuyPEbX8ml9jrtpdReLcF0ge3srB7tLFxIA5kBVFtb/amIvEDSNC67xazWWbrzBudlL8R4HWU0bZhI1xjLXG12uy3+XNf6bBJb7MSM3AcLGaEvm5XOl/4eijY/hrLK4CV4Yz5jlFyOgBO5XR8Bqo5oI5mDR7Q7XcG2oPiCpApLsXcc4HwshGgkd56foubcf8ADj6KcMLszHDMx3Ow0IPsu7cS4tJSsbM2J0sQP3uTV7I7avDf2rdFxf4qcQwVc8b4Hh7BHbYizidQQeegT7h8c8cNUiduidG5SJ9lWQqxKWlcad34Y4mqcRZUsfkjayIm7L5iSDa1+WhXE2DfyV/+F2KNjkqGuNg+Bw15kHT8SqA3UHyWJMqC6EaFWfgGjdLXRNa8sNy4ubvlA1A89lWsPHdKu3wsZ/8AYM/hefYLaO3DCG83vP8AzuTgwpnV3+536o4LYWcn4K/X4RH2kRu7R1x3nWvY7i6nOxCCxD54/wCL8ipFIhBhChOMYGmknuL/AHbz/wBpU8oTjA//AA5/9OT+Qpy/81XG/hxStdUxZhfS/wBV3qOJttlxH4Zt+/j/AIV3Fmy3U+s7IdENiNO0xuBAtZF3TNb8hWVDUGGxtY0Bo2RX2OP90JVL8o8gnUAlRQxlpBaLW6ILB8Ghjb3WAb8vFS0uxTNF8oQK+ys/dHokvo4yCMo9EQsKALDaZrWZWgAC4ReUJmj2PmUQgTlC5v8AGamaYYnWF89r87Fp09l0pc/+MDL00f8AqD+VysHLcK4zfTQ9i2NpIuA47W626r0BRVLTTNeRYFgcb/w3Xlep0cV6COJTQ4U17gJHCBtnDTQsFiR4XWbf5Sf98ak9K/8AC0NfX1kwboflIGlnSFxHplXRcWpGTFrJBdm5byNtrqn/AAdp7Uz5CPnkcb+DQ1v5FXyR/eGik+3+/wDSULhFHHA0xxjK0Emw2FySfxR901G4ZiLJ1WJSHEc15t+IOHRR1s/ZDKzNfKNg5wBdboLlekJrWN+hXmjiuQGaZzflMj7eWYrSq0wJE40Tx2Tc3yqARYlLFQZT1+Q3Zvsm4zYHrZSdNhYz33vsPFAVcWR72ncEhZBGHDu3V3+GNQGV7C791w+un6KA4Tga9pBCvvCVDG2pabW0KtuLOOur/bmpQrWoQOYl5mrHkeILFcSaJYW23d+RUsKkKu4w9nbQgnXNp/tKmy9qTl2WCPtAULxlUgUc/wDpyfyFSYkb1UHxrI0Uc9/8N/8AKU5cv41Mc3+HBtLGf8q7QyqFlxPgGdrZI8xtpb6rr7Khmmq62sj/ALSEJiteGxuNlsSAoHG5GiJxN7LFq4kaKvBY02Oyf+2DoVE4ZMOzbodgjJJWtBJ2TVw7U1wDCbHZNYbiAcwGxC57jfxFjD3xRsLgO6X3AbfnbqrxgkrTC0gbgH1WZyW8Ur9r8Ckvq9DoU3nHRakcLHRXyMMYRiOdpNiNSPdSIqPBQuAyNIdYftEe6ls4U48vReJz7R4Kh/FWozQMaAfnB8rAq8ZgqJ8TqhrYm9S6w9CtS+4Y4VXfO5dkxPHmHCY2Nd3jFGz0aL/guNVbbPI8VbahuWlYwbus310Sz3v4S+sdf+G47PD4Q4i5aX/7yXa+qsjqphI1C4PxFidVSRRxRzOaw8hYHQdd7KP4f4pqg4kzvdl1GY5h7rHHyxbJr0S2duchOmob1VG+HPEUlaJHyhoc1waMt9Rl31VsqGC4V48tTlMOYpMGxPd0aT7LzFjbvck+uq9E8Y1AZRSkfuEeui84447vALoyGYwZChZtkaz5HeSEl2UgDWLFtUWqlktlcN9CPNRPEMZEzidzZ3qFJUEgaGB/IgEeRTnFbmSymZnyBoH1WPrd6L4JkALguk8KxtdUNB1sCVyDDHlrm2Ng78FfsBx+KlfnMgva2tz7ALVSO0iBvRKDG9Fzo/EyntrIT4NjP5oOT4qR6iJj3P5Zw1o9iSsf4RfcWbGJIi4D5t+hsVvERFKMocOujrfguRYlxzPUaPyty62bfe25QMHEUjHh7XEG1uot5FJxPbs2A0IZcl2bXS5J0+pS+L2D7HPpf7uT+QrlNDxxPG4EPLhckgga/XdH49x1NPSvaWBgc0tvck2IsVLNlki9K7wxTB+QE2GhXQad0TJLSSNAsLXJA9SVRODqcSOY0m1hdT3FeCGQ5GOsbD1XbkzK6PhFfTu7kb2OP+Ugo3EYwYzoCuR8N8O1VLKJY5NbWIOoI6FTuPcZVMTchiGumYE2H0ssWXOll429uhUMYyN0GyjOMawQ0kshHyscfrbRE4BVF8LHHctB9lUfjLimSiMY3kc1n0BzH8PdY5cvWNTjXE6OQlwHiPxXqDB2jsm6ch+C8v4XE5zwGgk3B0816hwS/ZMv0H4K25TLYMt4LHDTZOlqwNWmUdhrQA7S2pUZinGVHTydnNKGvsDYg7HbYKchiNneZXNeIPhlLVSyTuqLOcdG5LgNGjRe65eXTp46sf8A7iYb/wDob6O/RVnjfiKjrGMhhka9xdmu3kADuq7N8J6rlLGfMOChv7BloZss1jmGhabjTzW5v6mT6hMRo8tQGA3uQfdWLFIC90MLTZxIseh5KChOasu48+aunDlL2tf32ZmsjLhfYOzNsfxV53ONTjNqO4+wiWlETpXdownIDsQ619vIFQ+DfZ33Hyk6X299lcvijE+oLGD5GOJ+uW1/xVBM7YRl5pOlz26vwWaekHeeBcNBJIGoGt10KjmimYHxuD2nYggj1C8rVGIPdpc2810T4NcVMheaOZ+Vsjs0ZJ7oebAtvyvv536rN/j7+Fmr58TXBtLYc3NHvdcDxZ15V3L4suAZCAdy51vJu/uuDVj7yOPiuvxg295F+ibc64sjGjum/RCTMFrqIH7NYk5ysQPS1cjrm/O5WnGQtu4nKjMGaCXNKkMRhHYkN5KKg2T+2y32hJ1KaibdPMZqqh50lraJ3DPnuQnIqRzv2SR4JRm7M2ItZCVJUtBI69mnvdE9Lhjmd5wNgnafHy1jSACfO3sh6/Hi4kOsAVchbS4o9Rb/AM6qUq5g+MMtZC0k7SAW66dfyS3v35ahNxfHRmAu7F4eNgLfS6k8TxuRzszB4KCimOw8URTZs26sl5Jy8eKfwLHJnf8AEaQFOSMjqGEGxKrLca7JtnsuOo/NRv8A6jc2T7ppKddsZL7jprMTFLAM1yGgDTmuRfEfiT7ZK0AEMjBtfmXW19lM1vEc00Za+MtA6rndXJme4+KzeM7bnK9LHwRUCNz3ObcWHsSuvYVxrGYxdpBGnKy5JwVLCC4TEAHa+g9VfsPioMts7LeL/wCqvjx+r5X4tI49h2yu9v1TzeN4CL2d6D9VXW0eHfvs/wCp/VbfHhzf24/+p/VY8Z+rv9DIviNEA+7HXucu1iORvdS0PGERYDrchUcQ4dc99n+/+qeihpZHZWPGnR11Jw4z6vlfxZ8S4paGFzLX3sVyTiDiGSqqAX2AaDYDbVXDFaJjWnK4nlbfVR+F8CmVwkku1und2JHieS65IxeWqfg+Dy1NW3I05A4Fz+QAN7X5ldioaSOkzSO3cBmPlfQeqRLJT0UdhlbYLl/FnGr5iWxnu7XWbJ3WuIzjXixr3FsfUqgySFxuVtjC92p1KOxDCnxxh41BsfVFvJGhwBWPdqEwxhcbDdEOYRpzRldpKyR0QMj3PIbYFzi4gdNVT2jM421JK6XBhcZoW3ILstyfFUXCWsZUEO+XvAeaTMhTE9gDZASOu1SGIuBc+21zbyUY7ZVAqxZdYgkMOl+8A+im3i7SPBVyJ1ng+KsUblmtRXI9LhGYbFnkDUNUCz3DxT+FyZZAVWXRuFYWAOY61x+iofFbgah9tgbKeosVYzOSdT+nJC4UyB+d0tiSSRf2smpiBiqjlt7pqpdexKmYII85uO7fS/RN4jQNzBzR3UVJ4Me4LBSMdP3jm5pOC1kDGAOt9URU4rDm7liUxby30Z7MZ03MCNifdMurbv2Uk2MEXW5a54YbOMveN7cj0CsGG8U0EbQHgA/wfnZV+eladEPVYWCwkpbVkkXTFOM8OdA4BzSSD3QNTouNOddxtzJ9ypBtNdpAF7XSoKcEtyt1BBPlzustL1gGCRmm7zdbX252UTgdTFHVGGVuhNgfyVwwfEYuyDeduSonFVOBKZQbHcW6g3Ct69E7X+uwCJ1nNYPDRQeLYCC3Rg9FPcGYyKmnF/nGh8wpGaAkJLsLxyufw4G3MCWi6msNwF/bd2OwP7XL1VmoMELjmdp4Kcqa2KBl3ECyIAwvh2KHvO1dvc/kOSjOKeMoKVpaCC7k0bqn8YfERzyY6c6bF36KhshkmdmcSSdyVNawZjmPzVTiXEhvJqLwvhsvjMjv6LcGDDL/AJtgPFW6CnkjpjmbbRRdc5ZTEvLW8lKso6iRgYTpttqmsLuZHHxVqw2oF7HRWYyiMP4GlccwdZLx/gx1PF22bNbV3krvLVZWd02VD4j4qe68GbMD7JVS2BhwgeS4kZRpfQE9Aq/gWBGqMjxs0k/XdE0lf2dK5pOpFh5WVh+GskYp5Rfv96/VZiqDUxZS9p5Et9FHv2Unij/vZP4nfio6TYrVZArFixA9KdQVPUz7gKCnCk8Oku0eGilWGMSj75PVIovmCJxEXIKFgNnBIVLVlsqdowA0XQ9S4EDVTtJgzHMv2ltNtFER7pAeSXI/ulF02FNcbZ+duSmJuF4xGXdqdugVFcpWDKnoYMpJ0R1NhrREXZ9QT0sgnTDqgW3Uo+njJUbC/VStLIDotRDjYwDqsxCoYWFliHeKlsCqYu3Ebhc7jmnuIJIhO1gaAbaEjl1TVxSmUhhjzeyXhxBaXP7vMA6K0YuKaFgL3Bzjt1Pk1VOaEzuBPdZ0v+KDUeIudeOJtyOfJSNJh3aC8+/S2xTEcTaeZjxbKSGu8jzVxxmg7NrZbd11gT0PJZ8veVrx9apdFVPoaglgPZusD4Hquh4fjsdsxI11VNxKtgLC02LvdVWtnexujiPBXqnbp+OcfRRNIabu5ALmeM8QVFY6xJy8mj81GU0DpHa+qtOF4Y2PXS6lpIawrhMlud58bIo0oZoFKmrIFroCeYbpCxDV1Y5sjcu4N1aqrikPpix7bOtb23CqtI8OnJOwR3ED29norqYH4egu1z/EqXihuqTSV8jO606FXXA6sFozb/8AnNTViHxPFXxlzXE2toqe55e+/MldC4loGzNzN3CreF4ECC95ILeXJNMar5LRtCGwLFDBKdbAi3hdJrn3NvooqWNwNyCoiTr58xcRzJKAEuhCUCmXtstI0tLV1tQEyBEYbJoQmZkmjdZyCQq9WoJqLkOhCFYgU6Mnmno+0tYPcP8AmKyNExhAO2N42c71Kfb2xFu0fbpmKKjjRTIlADRwP2LnW6XNvRTMFGDuh4o9UbHIqHYqIKRgpANUHG9FNnWhIYfilJEbkjtR63ScXcysZ2sfzNvYjew3Crk2EMdJ2l9U7gFZ2M5iPyP2/iWL+tcb8Mw0WZ13EuPU6lS1NQtQuOwOgkuPkd3m+B5hCx4i7qtTKl9JfEKFrmEKRw/iOOSjdT1Bs9oLCeZA+Vw8dvqFXf7QcVC41DmId6+SzZqy2Bp52tJy6lZBSPkOqL/sxmVrmfXmpjDoMoQwrC8HAGu6l20bU0yWy2+YopqaFoUbXtAYSEXUOUHicjrEBUobCZWAkuNjdP8AETm5BlddV1rSDqE9UtIaAUZ0457S0ADUKRpxIxmYbKFjaQNipPDsUc0ZHju9VCCo8XIBuo017nEkaBLxWAAZm7FAsfZllQ9SMzyAK1nDYyyxCrnD7byX6K0SziyzWuKqYlhmQkt2UTKVbKx4IVfq4QtRmxFrE6YSsRD7zdNM0cCnSmnFAdmTQGq2x2i2ED0aKYUK0p2NyCQiKIaUDE5EB6B/OnGSIUOTsasEjE9EZggI3WSpptFQ/LUgKHxGS/eHzDUEdRssmlJQ5JUtVbMPr4qyDJIbSD1DuoUbU4a6PmCOoP5KvSRkHM02PgkT4xLaznXWZFt3tZ4aZxF7aeYTv2AvaQB7hVWDGpbWBFk5DjU7dnD6qok6O8MnZP2O3P6KzQ0TrXsLeYXPamske4PJFxtZHt4gqALBwt5Iurl2DibC3qtmjf8A5fVUduMTg3z6rZxqoP8AeeyGrm7Dnu5t9T+iHmwN3N7fdVI4xUf4p9kJPjc/OV3smGri6hp4Gl8jg53K9rDyCrUr+2kuBZo2QtOwy6ucT5lSUTQ0WCIU6IW2Qk7BayJe5CTOUWgZnOAtuEy7QIpyFqDqqyeo6osvZEOxF5F0AwJeY2shrPt73GyalkJTY0N0sm6Bkk9ViWsQO2WhGb7Jt7ibX5KYwqoZlOYd4C3mgHdHZiaaj6ycPOgtp7qPCkWnQEtpTIclByqC2PTgegw5OtegKa9ERPKBa5PRyKiSjctyoRkyc7ZUNvamHIhxTT1ABUSlRsoJUpI25W2U4UESxrhsld9T0dIFqWnaggczkqz1IinF0fDTCyCv2et5XqxfZR0WfZWoK4Y3pDqdxVkdC1MuiCCMpSWqRjlSXRprZRRLpQmJHBDvemi9UOkoKY3KIBQt9UQ6Fu6QtFyDZWFqbzJQcgTZbW7rEEs2lawd7c8lFtcA822T1TUFxJJ1QQdrdAbDLqtO3Q8TtU/IUGXWwUkLaBYKW1yaCU1A+1ydY5DtKUHKgsPSw9BhycD0BPapD3pnOklyBZTjXIe6XnUBPbJDpbpnOtFyodaUVHIg2lONcoC+0WjIh860ZEDr5Ey56S96bJQKe9Mly24polAiUpoJx6ZKBb9Aho3WKVNKUxnQFGVJumc6wyIHCVq6bL1rOgcusTWZbQPnVYAFixAgboo7LFiBF0oLFiDa2FtYg3dKaVixULC3dbWINZlgK2sQZdaJW1iDV1u6xYgW0pYK2sUGXSS9YsQJc5JLlpYgSXJF1ixUIcmysWKBD23QzmLFioTZYsWINLFixBixYsUH/9k=) no-repeat center center/cover;
    font-family:Arial, Helvetica, sans-serif ;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#survey-form {
    background: rgba(10, 10, 30, 0.85);
    padding: 2.5rem;
    border-radius: 10px;
    width: 90%;
    max-width: 550px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
}

h1, p {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 500;

}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px;
}

button, input[type="submit"]{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;

}


button:hover,
input[type="submit"]:hover {
    background-color: #45a049;
}

textarea {
    resize: vertical;
    min-height: 100px;

}

.equipment-group {
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;

}

.equipment-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 10px;
    border-radius: 5px;

}

